.env
node_modules/
**/.DS_Store


# echo "# Wanderlust" >> README.md
# git init
# git add README.md
# git commit -m "first commit"
# git branch -M main
# git remote add origin https://github.com/Mani000723/Wanderlust.git
# git push -u origin main